.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.app__box {
  text-align: center;
}
.app__title {
  font-size: 30px;
  font-weight: 400;
  color: whitesmoke;
  padding-bottom: 20px;
}
.app__joke {
  max-width: 500px;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 40px;
  color: whitesmoke;
}
.app__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__form > div > input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  font-size: 20px;
}
.app__form > button {
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: blue;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 240px;
  margin-top: 10px;
  border: none;
}